## Files to ignore in C++ project
*~
*.[ao]
*.obj
*.slo
*.dll
*.lib
*.exe
*.pdf
*.xml
*.tar.gz
*.zip
*.gif
*.log
*.swp
*.deps
*.libs
*.user
*.m4
*.so
*.so.*
*.la
*.lo
*.pc
moc_*
Makefile
Makefile.in
cmake_install.cmake
build/
*/build/
build-Linux/
build-Raspi3/
cmake-build/
cmake-build-debug/
docs/*.html
docs/*.html~
docs/__*
external/googletest/
.vs/
.vscode/
.idea
.ccls-cache/
.ccls
.clang-format
*.sublime-*
mqttPersistence/
